spring:
  application:
    name: notes-api
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/notesdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      indent-output: true

server:
  port: 8080
